body {
    font-family: Arial, sans-serif;
    background-color: rgb(32, 32, 44);
}
header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(184, 42, 13);
    color: white;

}
nav {
flex: 1;
justify-content: center;
align-items: center;
display: flex;
position: relative;
gap: 50px;
}

a   {
    text-decoration: none;
}

#search {
    width: 450px;
    height: 40px;
    font-size: 16px;
    padding: 0 12px;
    border: none;
}
#search::placeholder {
    color: white;
}

.search-bar{
align-items: center;
display: flex;
border: 1px solid white;
border-radius: 10px;
overflow: hidden;
}

.profile-link{
position: absolute;
    right: 0;
    background-color: darkred;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 18px;
}
